upstream {{getv "/self/service/metadata/nginx/conf/servername"}} {
   server 127.0.0.1:{{getv "/self/service/metadata/nginx/conf/upstream_port"}};
}

server {
   listen 80;
   server_name {{getv "/self/service/metadata/nginx/conf/servername"}};


   location / {
      proxy_pass http://{{getv "/self/service/metadata/nginx/conf/servername"}};
   }
}
