{{$serverPort := getv "/self/service/metadata/nginx/conf/serverport"}}
{{$serverName := getv "/self/service/metadata/nginx/conf/servername"}}upstream {{$serverName}} {
   server 127.0.0.1:{{getv "/self/service/metadata/nginx/conf/upstream_port"}};
}

server {
   listen {{$serverPort}};
   server_name {{$serverName}};


   location / {
      proxy_pass http://{{$serverName}};
   }
}
