#Metadata debe ser definida en el contenedor nginx-conf
{{if exists "/self/service/metadata/nginx-conf/upstream_location_options"}}
upstream app {
  server {{if exists "/self/service/metadata/nginx-conf/server"}}{{getv "/self/service/metadata/nginx-conf/server"}}{{else}}127.0.0.1{{end}}:{{if exists "/self/service/metadata/nginx-conf/upstream/port"}}{{getv "/self/service/metadata/nginx-conf/upstream/port"}}{{else}}8080{{end}};
}
{{end}}
server {
  server_name _;
  root {{if exists "/self/service/metadata/nginx-conf/root"}}{{getv "/self/service/metadata/nginx-conf/root"}}{{else}}/usr/share/nginx/html{{end}};

  access_log /var/log/nginx/access.log;
  error_log  /var/log/nginx/error.log;
  
  {{if exists "/self/service/metadata/nginx-conf/server_custom_options"}}{{getv "/self/service/metadata/nginx-conf/server_custom_options"}}{{end}}

  location / {
    {{if exists "/self/service/metadata/nginx-conf/root_location_options"}}{{getv "/self/service/metadata/nginx-conf/root_location_options"}}{{else}}try_files $uri{{if exists "/self/service/metadata/nginx-conf/upstream_location_options"}} @app{{end}};{{end}}
  }

  {{if exists "/self/service/metadata/nginx-conf/fpm_options"}}
  location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    if (!-f $document_root$fastcgi_script_name) {
      return 404;
    }
    include fastcgi_params;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param SERVER_PORT $http_x_forwarded_port;
    fastcgi_pass {{if exists "/self/service/metadata/nginx-conf/server"}}{{getv "/self/service/metadata/nginx-conf/server"}}{{else}}127.0.0.1{{end}}:{{if exists "/self/service/metadata/nginx-conf/fpm_options/port"}}{{getv "/self/service/metadata/nginx-conf/fpm_options/port"}}{{else}}{{9000}}{{end}};
    {{getv "/self/service/metadata/nginx-conf/fpm_options/options"}}
  {{end}}

{{if exists "/self/service/metadata/nginx-conf/upstream_location_options"}}
  location @app {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_pass http://app;
    {{getv "/self/service/metadata/nginx-conf/upstream_location_options"}}
  }
{{end}}
 
  location {{if exists "/self/service/metadata/nginx-conf/static_files_regexp_location"}}{{getv "/self/service/metadata/nginx-conf/static_files_regexp_location"}}{{else}}~* \.(ico|css|gif|jpe?g|png|js)(\?[0-9]+)?${{end}} {
    try_files $uri{{if exists "/self/service/metadata/nginx-conf/upstream_location_options"}} @app{{end}};
    access_log off;
    log_not_found off;
    expires max;
    break ;
  }
}
